<h2>Import Excel</h2>

<form asp-action="ImportExcel" method="post" enctype="multipart/form-data">
    <input type="file" name="file" class="form-control" />
    <br />
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-info mt-3">
        @ViewBag.Message
    </div>
}